section.certificate {
  background-image: url("../../assets/images/dot-matrix.png");
  background-color: #2107c0;
}

.logo {
  margin: auto;
  display: block;
  padding: 80px 50px;
}

.symbols {
  position: absolute;
  top: 40px;
  right: 100px;
}

.globe {
  position: absolute;
  top: 800px;
  left: -140px;
}

section[content] {
  text-align: center;
  color: #fff;
}

section[control] {
  display: block;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: 200;
  margin: 20px 20px;
}

h1[attendee] {
  font-size: 45px;
  margin: 20px 20px;
}

h4 {
  font-family: "Space Mono";
  font-size: 20px;
  font-weight: 100;
  &[ticket] {
    margin: 50px 50px;
    display: block;
  }
}

small {
  display: block;
  margin: 100px 50px;
  font-family: "Space Mono";
  font-size: 18px;
}

button {
  background-color: #44c767;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  font-family: "Space Mono";
  margin: 10px;
  &:focus {
    outline: #44c767 auto 1px;
  }
  width: 250px;
}

@media screen and (max-width: 1115px) {
  .globe,
  .symbols {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  h1 {
    font-size: 40px;
    font-weight: 100;
    margin: 15px 15px;
  }

  h1[attendee] {
    font-size: 25px;
    margin: 10px 10px;
  }

  h4 {
    font-size: 15px;
  }

  small {
    font-size: 12px;
  }

  .logo {
    height: 100px;
  }
}
